@model IEnumerable<Uncafezin.WebApp.Models.ProductViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="CreateProduct" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                COD. (@Html.DisplayNameFor(model => model.Id))
            </th>
            <th>
                Categoria
                (@Html.DisplayNameFor(model => model.CategoryName))
            </th>
            <th>
                Produto
                (@Html.DisplayNameFor(model => model.Name))                
            </th>
            <th>
                Preço
                (@Html.DisplayNameFor(model => model.Price))
            </th>
            <th>
                Descrição
                (@Html.DisplayNameFor(model => model.Description))
            </th>
            <th>
                Quantidade
                (@Html.DisplayNameFor(model => model.Stock))
            </th>
            <th>
                Link da Imagem
                (@Html.DisplayNameFor(model => model.ImgUrl))
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @string.Format("{0:C}", Convert.ToDecimal(item.Price) / 100)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock) unid
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImgUrl)
                </td>
                <td class="d-inline-flex">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning" title="Editar">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info" title="Detalhes">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" title="Excluir">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
